# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env

# Vector DB & Upload Storage
data/chroma_db/
data/uploads/
*.db
*.sqlite3

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
